<main class="app">
  <header class="app__header py-3">
    <h3 class="text-center m-0">
      Not Another Todo App
    </h3>
  </header>

  <div class="container">
    <ul class="reset list-of-todo-lists">
      <li *ngFor="let todoList of todoLists">
        <a
          routerLink="/list/{{ todoList.created }}"
          queryParamsHandling="preserve"
          class="clicky list-of-todo-lists__item"
        >
          <span class="list-of-todo-lists__item-title"
            >{{ todoList.title }}
          </span>
          <span class="list-of-todo-lists__item-description">{{
            todoList.getListDescription()
          }}</span>
        </a>
      </li>
    </ul>
    <form class="mt-3" (ngSubmit)="addTodoList(listInput.value)" novalidate>
      <input
        #listInput
        class="new-input"
        type="text"
        placeholder="New list"
        required
      />
    </form>
  </div>
</main>
